<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Zaramki</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<img class="logo" src="img/logo.png" alt="ZaRamki">
				<p class="logo__text">Агентство пляжной и наружной рекламы в ЮФО, Республике Крым и Абхазии</p>
			</div>
			<div class="col-lg-3 tel__text">
				<p class="tel__text_p">
					+7(977)901-9496
				</p>
				<p class="tel__text_p">
					+7(918)404-09-26
				</p>
				<a class="tel__text_a" href="#">
					Обратный звонок
				</a>
			</div>
			<div class="col-lg-3 inf__text">
				<div class="tel__text_p">
					E-mail: <a href="#">zaramki@southpromo.ru</a> 
				</div>
				<div class="tel__text_p">
					Whatsapp: <a href="#">+7(977)901-9496</a>
				</div>
				<div class="tel__text_p">
					Instagram: <a href="#">zaramki-sochi</a>
				</div>
			</div>
			<div class="col-lg-3 zakaz__btn">
				<a class="zakaz__btn_a" href="#">
					ЗАКАЗАТЬ
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="navbar">
					<li class="navbar__btn_1">
						<a class="navbar__btn_a" href="#">
							УСЛУГИ
						</a>
					</li>
					<li class="navbar__btn_2">
						<a class="navbar__btn_a" href="#">
							ГОРОДА
						</a>
					</li>
					<li class="navbar__btn_3">
						<a class="navbar__btn_a" href="#">
							ПОРТФОЛИО
						</a>
					</li>
					<li class="navbar__btn_4">
						<a class="navbar__btn_a" href="#">
							О НАС
						</a>
					</li>
					<li class="navbar__btn_5">
						<a class="navbar__btn_a" href="#">
							КОНТАКТЫ
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 info">
				<p>
					1) Большое количество рекламных поверхностей. Щиты 3х6, сити форматы, остановки и автовокзалы.
				</p>
			</div>
			<div class="col-lg-2 info">
				<p>2)</p>
				<ul>
					<li>Букирование площадей</li>
					<li>Проведение промо</li>
					<li>Брендирование пляжа</li>
					<li>Собственное производство</li>
				</ul>
			</div>
			<div class="col-lg-2 info">
				<p>3) <b>Пляжная реклама</b></p>
				<ul>
					<li>Кабинки для переодевания</li>
					<li>Баннеры</li>
					<li>Душевые кабинки</li>
					<li>Афиши</li>
					<li>Аэрарии</li>
					<li>Не стандартные конструкции</li>
					<li>Пирсы</li>
				</ul>
			</div>
			<div class="col-lg-2 info">
				<p>4) Более 155 рекламных площадей по всему Черноморскому побережью.
				</p>
			</div>
			<div class="col-lg-2 info">
				<p>5) Широкий охват по городам ЮФО, Абхазии и Республики Крым.
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/board3x6.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Щиты 3х6</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/cityboard.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Скроллеры/ситиборды</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/cityform.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Сити формат</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/kabinka.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Реклама на пляжных кабинках</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/pilon.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Пилоны</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/superboard.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Суперсайты/суперборды</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/brandmauer.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Брэндмауэры</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/transport.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>На транспорте</span>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/creation.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Производство</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/airport.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Аэропорты/ЖД</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/audio.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Аудиореклама</span>
				</a>
			</div>
			<div class="col-lg-3 services__icn">
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<img class="services__icn_img" src="img/radio.png" alt="">
				</a>
				<a class="services__icn_a d-flex justify-content-center" href="#">
					<span>Радио/ТВ</span>
				</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 block map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46227.707925862924!2d39.69010963711913!3d43.60171615540107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f5d4e111834423%3A0x6e6f61866a5d5df8!2z0KHQvtGH0LgsINCa0YDQsNGB0L3QvtC00LDRgNGB0LrQuNC5INC60YDQsNC5!5e0!3m2!1sru!2sru!4v1588763995113!5m2!1sru!2sru" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
	</div>
	<hr class="hr-line">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="tel__text_p">
					<a href="#">Адресная программа</a>
				</div>
				<div class="tel__text_p">
					<a href="#">Презентация</a>
				</div>
				<div class="tel__text_p">
					E-mail: <a href="#">zaramki@southpromo.ru</a> 
				</div>
				<div class="tel__text_p">
					Whatsapp: <a href="#">+7(977)901-9496</a>
				</div>
				<div class="tel__text_p">
					Instagram: <a href="#">zaramki-sochi</a>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="tel__text_p foot__text d-flex align-self-center">
					<a class="foot__text_a" href="#">ОСТАВИТЬ ЗАЯВКУ</a>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>